<div class="home-title">Never lose inspiration.</div>
<div class="home-subtitle">Moodboard helps you easily organize your visuals.</div>
<%= link_to "Get Started", new_user_registration_path, class: "sign-up-button" %>
<div class="section-container">
  <div class="section-left">
    <div class="background">
      <div class="info">
        <div class="label">Our motto</div>
        <div class="section-title">Keep it simple.</div>
        <div class="section-subtitle">Easily create moodboards to organize your inspiration.</div>
        <div class="feature-title">Unlimited boards</div>
        <div class="feature-text">Create as many boards and posts as you want for all your creative projects</div>
        <div class="feature-title">Private</div>
        <div class="feature-text">Only you can see your boards, so no worries of people taking your ideas</div>
        <div class="feature-title">100% Free</div>
        <div class="feature-text">It's fully free to use, no credit card or payment needed</div>
      </div>
    </div>
    <div class="decor-1"></div>
    <div class="decor-2"></div>
    <div class="decor-3"></div>
  </div>
</div>
