<div class="page-container">

  <% if user_signed_in? %>
    <h1>Posts</h1>

    <%= link_to 'New Post', new_post_path %>

    <% @posts.each do |post| %>
      <div class="post-box">
        <%= post.title %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  <% end %>

</div>
