/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$primary-color: #1fd760;
$light-green: #ECF9F1;

/** Navbar **/

.navbar {
  border-radius: 0px;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.05);
  background-color: white;
  border-bottom: 0px;
  height: 60px;
  display: flex;
  align-items: center;

  .dropdown-toggle {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }

  .nav-text {
    font-weight: 500;
    margin-left: 8px;
  }

  .dropdown-menu {
    border: none;
  }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: white;
}

.navbar-brand {
  padding-left: 0px;
  color: $primary-color !important;
  font-weight: 600;
  letter-spacing: 1px;
}


/** Fonts **/

.fal {
  font-size: 24px;
}

a:hover, a:focus {
  text-decoration: none;
}

.label {
  font-size: 11px;
  color: #808080;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}

/** Container **/

.page-center {
  text-align: center;
}

.container {
  width: 1080px;
}

.page-container {
  position: relative;
  display: inline-block;
  width: 1000px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 160px;
}

/** Board Page **/

.board-name {
  font-size: 48px;
  font-weight: 600;
}

.posts-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;

  .info {
    text-align: left;
  }
}

.post-box {
  width: calc((100% / 3) - 8px);
  padding-bottom: calc((100% / 3) - 8px);
  background-color: $light-green;
  float: left;
  margin-right: 8px;
  background-size: cover;
  background-position: center;
  margin-bottom: 8px;
  position: relative;

  .board-title {
    font-size: 48px;
    font-weight: 600;
    margin-left: 24px;
    margin-bottom: 24px;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    color: $light-green;
    text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }
}

.post-box:nth-child(3n+1) {
    margin-right: 0px;
  }

.empty-post-box {
  width: 100%;
  height: 320px;
  background-color: $light-green;
  position: relative;

  .text {
  font-size: 60px;
  font-weight: 600;
  margin-left: 24px;
  margin-bottom: 24px;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  color: $light-green;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  }
}

.new-post-button {
  height: 48px;
  width: 48px;
  background-color: $primary-color;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
}

/** Forms **/

.form-container {
  width: 480px;
  margin: 0 auto;
  margin-top: 160px;
}

.form-button {
  width: 100%;
  height: 40px;
  background-color: $primary-color;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
  color: white;
  margin-top: 24px;
}
