/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$primary-color: #1fd760;
$primary-color-hover: #11bb4d;
$light-green: #ECF9F1;
$light-green-hover: #D3F1DD;
$gray-text: #777;

/** Navbar **/

.navbar {
  border-radius: 0px;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.05);
  background-color: white;
  border-bottom: 0px;
  height: 60px;
  display: flex;
  align-items: center;

  .dropdown-toggle {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }

  .nav-text {
    font-weight: 500;
    margin-left: 8px;
  }

  .dropdown-menu {
    border: none;
  }

  .nav-sign-up-button {
    padding: 10px 24px;
    margin-top: 5px;
    border: 1px solid $primary-color;
    color: $primary-color !important;
    border-radius: 4px;
    margin-left: 24px;

    &:hover {
      background: $primary-color !important;
      color: white !important;
    }
  }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: white;
}

.navbar-brand {
  padding-left: 0px;
  color: $primary-color !important;
  font-weight: 600;
  letter-spacing: 1px;
}

/** Alerts **/

.alert-info {
  position: absolute;
  margin-top: 60px;
  border-radius: 0px;
  text-align: center;
  z-index: 100;
  width: 100%;
  background-color: #f8f8f8;
  color: $gray-text;
  border: 0px;
}


/** Fonts **/

.fal {
  font-size: 24px;
}

a:hover, a:focus {
  text-decoration: none;
}

.label {
  font-size: 11px;
  color: $gray-text;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0px;
}

/** Container **/

.page-center {
  text-align: center;
}

.container {
  width: 1080px;
}

.page-container {
  position: relative;
  display: inline-block;
  width: 1000px;
  margin: 0 auto;
  margin-top: 144px;
  margin-bottom: 160px;
}

.page-background {
  width: 100%;
  height: 100%;
  background-color: $light-green;
  position: absolute;
}

/** Board Page **/

.board-name {
  font-size: 48px;
  font-weight: 600;
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }

  .fal {
    color: $gray-text;
    font-size: 24px;
    margin-top: 4px;

    &:hover {
      color: $primary-color;
    }
  }
}

.posts-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;

  .info {
    text-align: left;
  }
}

.post-box {
  width: calc((100% / 3) - 8px);
  padding-bottom: calc((100% / 3) - 8px);
  background-color: #f8f8f8;
  float: left;
  margin-right: 8px;
  background-size: cover;
  background-position: center;
  margin-bottom: 8px;
  position: relative;
  cursor: pointer;

  .board-title {
    font-size: 48px;
    font-weight: 600;
    margin-left: 24px;
    margin-bottom: 24px;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    color: $light-green;
    text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }
}

.post-box-overlay {
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}

.board-box {
  background-color: $light-green;

  &:hover {
    background-color: $light-green-hover;
  }
}

.board-box:hover .board-title {
  color: $light-green-hover;
}

.post-destroy {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 16px;
  margin-right: 16px;
  color: white;

  &:hover {
    background-color: white;
    padding: 4px;
    color: black;
    margin-bottom: 12px;
    margin-right: 12px;
    border-radius: 4px;
  }
}

.post-box:hover .post-destroy {
  display: block;
}

.post-box:hover .post-box-overlay {
  display: block;
}

.empty-post-box {
  width: 100%;
  height: 320px;
  background-color: $light-green;
  position: relative;

  .text {
  font-size: 60px;
  font-weight: 600;
  margin-left: 24px;
  margin-bottom: 24px;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  color: $light-green;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  }
}

.new-post-button {
  height: 48px;
  width: 48px;
  background-color: $primary-color;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);

  &:hover {
    background-color: $primary-color-hover;
  }
}

/** Forms **/

.form-container {
  width: 480px;
  margin: 0 auto;
  margin-top: 160px;
  background-color: white;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
  padding: 32px 32px 40px 32px;
  border-radius: 4px;
}

.form-title {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 48px;
}

.form-control {
  height: 48px;
  margin-bottom: 16px;
}

.form-button {
  width: 100%;
  height: 48px;
  background-color: $primary-color;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
  color: white;
  font-weight: 500;

  &:hover {
    background-color: $primary-color-hover;
    color: white;
  }

  &:focus {
    background-color: $primary-color-hover;
    color: white;
  }
}

.remember-me {
  margin: 16px 0px 16px 20px;

  label {
    font-weight: 400;
  }
}

.shared-links {
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.link-style {
  color: $gray-text;

  &:hover {
    color: #000;
  }
}

.link-style:nth-child(even) {
  margin-top: 16px;
}

.custom-file-upload {
  background-color: $light-green;
  border-radius: 4px;
  margin-bottom: 16px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;

  &:hover {
    background-color: $light-green-hover;
  }

  input[type="file"] {
      display: none;
  }
}

/** Home Page **/

.home-title {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
}

.home-subtitle {
  font-size: 18px;
  text-align: center;
  margin-bottom: 64px;
}

.sign-up-button {
  padding: 24px 56px;
  border-radius: 4px;
  height: 48px;
  background-color: $primary-color;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
  color: white;
  font-weight: 500;

  &:hover {
    background-color: $primary-color-hover;
    color: white;
  }

  &:focus {
    background-color: $primary-color-hover;
    color: white;
  }
}

.section-container {
  width: 1000px;
  margin-top: 120px;
  position: relative;
}

.section-left {
  .background {
    background-color: $light-green;
    width: 800px;
    float: right;
    height: 680px;
    display: flex;
    align-items: center;
    padding: 40px;

  }
  .info {
    width: 400px;
    height: 480px;
    margin-left: auto;
    text-align: left;

    .section-title {
      font-size: 32px;
      font-weight: 600;
    }

    .section-subtitle {
      font-size: 18px;
      color: $gray-text;
    }

    .feature-title {
      font-size: 18px;
      font-weight: 500;
      margin-top: 40px;
    }

    .feature-text {
      color: $gray-text;
    }
  }

  .decor-1 {
    width: 340px;
    height: 340px;
    position: absolute;
    left: 80px;
    top: 80px;
    background-color: $light-green-hover;
    border-radius: 8px;
    background-image: url('https://dl.dropboxusercontent.com/s/idk1bv2n79e7rht/Decor-1.png?dl=0');
    background-size: cover;
    background-position: center;
  }

  .decor-2 {
    width: 216px;
    height: 176px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.10);
    position: absolute;
    left: 0px;
    top: 344px;
    border-radius: 8px;
    background-image: url('https://dl.dropbox.com/s/6g8vfgqvj398qo8/Decor-2.png?dl=0');
    background-size: cover;
    background-position: center;
  }

  .decor-3 {
    width: 216px;
    height: 176px;
    background-color: #fff;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.20);
    position: absolute;
    left: 236px;
    top: 440px;
    border-radius: 8px;
    background-image: url('https://dl.dropbox.com/s/jp6hsjwbxzjc4tl/Decor-3.png?dl=0');
    background-size: cover;
    background-position: center;
  }
}

.section-right {
  .main-background {

  }
  .info {

  }
  .decor-1 {

  }
  .decor-2 {

  }
  .decor-3 {

  }
}


