<div class="form-container">
<div class="form-title">New Board</div>

<%= render 'form', category: @category %>
<div class="shared-links">
  <%= link_to 'Return home', root_path, class: "link-style" %>
</div>
</div>
